.photographer {
  background-color: #fafafa;
  padding: 56px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  min-height: 312px;
}
.container {
  opacity: 0;
  animation: fade 1s ease-in-out forwards;
}

.photographer_contact {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.photographer_contact:hover {
  background-color: #d88876;
  color: black;
}

.profile_name {
  color: #d3573c;
  font-weight: 400;
  font-size: 64px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
}

.profile_location {
  color: #901c1c;
  font-size: 24px;
}

.profile_tagline {
  color: #525252;
  font-size: 18px;
}

.photographer_img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.medias {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 60px 60px;
  min-height: 100vh;
}

.media {
  width: 350px;
  height: 300px;
  cursor: pointer;
  position: relative;
}

.media img,
.media video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.media video {
  object-fit: cover;
  object-position: center;
}

.media_figure {
  all: unset;
}

.media_figure figcaption {
  font-size: 20px;
  color: #901c1c;
}

.media_likes {
  position: absolute;
  right: 0;
  bottom: -30px;
  color: #901c1c;
  font-size: 20px;
}
.media_likes_button {
  all: unset;
  font-weight: 400;
  color: #901c1c;
  font-size: 20px;
}

.media_likes_button .liked {
  color: #901c1c;
}

#contactModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.contact_button:hover,
.contact_button:focus {
  background-color: #d3573c;
}

.modal {
  background-color: #d88876;
  margin: 10% auto;
  padding: 35px;
  border: 1px solid transparent;
  width: 45%;
  border-radius: 5px;
}

.modal_header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.modal_header_title {
  font-size: 64px;
  color: #000;
  font-weight: 400;
  margin-top: 0px;
}

.close_button {
  color: #fff;
  float: right;
  font-size: 72px;
  border: none;
  background: none;
  cursor: pointer;
}

.close_button:hover,
.close_button:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

.form_group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.contact_button {
  margin-top: 20px;
  padding: 23px 50px 23px 51px;
  font-size: 18px;
  background-color: #800000;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.contact_button:hover,
.contact_button:focus {
  background-color: #a52a2a;
}

.lightbox_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.lightbox_content {
  background-color: #fff;
  position: relative;
  margin: 10% auto;
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  padding: 24px 19px 62px 19px;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 70%;
  max-height: 1000px;
}

.lightbox_close {
  position: absolute;
  top: 0;
  right: 12px;
  color: #901c1c;
  font-size: 72px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.lightbox_previous,
.lightbox_next {
  cursor: pointer;
  position: absolute;
  padding: 16px;
  color: white;
  font-size: 72px;
  transition: 0.6s ease;
  border: none;
  background-color: transparent;
}

.lightbox_previous {
  left: 0px;
  color: #901c1c;
}

.lightbox_next {
  right: 0px;
  color: #901c1c;
}

.lightbox_previous:hover,
.lightbox_next:hover {
  color: #901c1c;
}

.lightbox_media {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lightbox_media video {
  object-position: center;
  object-fit: cover;
}

.lightbox_media video,
.lightbox_media img {
  width: 85%;
  height: 100%;
}

.lightbox_media img {
  object-fit: cover;
}

.lightbox_modal figcaption {
  color: #901c1c;
  font-size: 24px;
  left: 66px;
  bottom: -38px;
  position: absolute;
}

.photographer_aside {
  font-size: 24px;
  background-color: #db8876;
  position: sticky;
  bottom: 0;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 50px;
  width: fit-content;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: bold;
  min-width: 340px;
}

.photographer_price {
  padding-left: 65px;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 58px;
}

.dropdown_title {
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
  padding-right: 25px;
}

.dropdown_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #901c1c;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 170px;
  height: 70px;
  border: none;
  padding: 11px;
  font-size: 20px;
}

.dropdown_button:hover {
  background-color: #db8876;
  color: black;
}

.dropdown_listbox {
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
  color: white;
  border: none;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
}

.open .dropdown_listbox {
  display: block;
  background-color: #901c1c;
  width: 170px;
}

.open .fa-chevron-up {
  transform: rotate(180deg);
}

.dropdown_option {
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
  cursor: pointer;
  background-color: #901c1c;
  border-radius: 5px;
  position: relative;
  margin-top: -7px;
  padding-bottom: 22px;
}

.dropdown_option::after {
  content: "";
  display: block;
  border-top: 1px solid white;
  position: absolute;
  width: 80%;
  top: -1px;
}

.dropdown_option:hover {
  background-color: #db8876;
  color: black;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
