@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding: 0 100px;
}

#main {
  margin-top: 140px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.header_title {
  color: #901c1c;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

.photographers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 70px;
  grid-row-gap: 70px;
  margin-top: 2px;
  margin-bottom: 120px;
}

.card {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card_title {
  font-size: 36px;
  color: #d3573c;
  margin: 0;
  text-align: center;
  font-weight: 400;
  padding-top: 20px;
}

.card_img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.card_location,
.card_text,
.card_price {
  font-style: normal;
  font-weight: 400;
}

.card_location {
  color: #901c1c;
  font-size: 18px;
}

.card_text {
  color: #000;
  font-size: 18px;
}

.card_price {
  color: #757575;
  font-size: 16px;
}

.card_link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_link:focus {
  color: #d3573c;
}
